body
{
	background-color: #999;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue Light", sans-serif;
	color: black;
	font-size: 0.9em;
}

#container
{
	background-color: white;
	max-width: 900px;
	margin: 0 auto;
	text-align: justify;
	border-left: 1pt solid gray;
	border-right: 1pt solid gray;
}

.menu
{
	display: inline-block;
	width: 100%;
	padding: 0.3em 0;
	background-color: black;
	text-align: center;
	color: white;
	line-height: 1.5em;
}

.menu > a
{
	color: #ef8619 !important;
	font-weight: normal;
}

#logo-container
{
	background-color: #57d1f9;
}

img#logo
{
	display: block;
	width: 30%;
	max-width: 30em;
	margin: 0 auto;
	padding: 1.5em 0 0.5em 0;
}

h1 { margin: 0; }

h2, h3, h4
{
	font-weight: lighter;
	padding: 0.1em 8%;
	text-transform: capitalize;
}

h2 {
	font-size: 1.8em;
	margin-top: 1.5em;
	border-bottom: 1px solid grey;
}

h3 {
	font-size: 1.5em;
}

h4
{
	font-weight: bold;
	font-size: 1.2em;
}

em
{
	font-weight: bold;
	font-style: normal;
}

.top
{
	float: right;
	font-size: 0.8em;
}

#container p
{
	margin: 1em 8%;
	line-height: 1.5em;
}

#container ul
{
	margin: 1em 8%;
}

#container ul > li
{
	margin: 1em 0;
}

p#tagline
{
	text-align: center;
	font-weight: bold;
	background: #57d1f9;
	color: white;
	margin: 0 0 1em 0 !important;
	padding: 0.5em;
}

p#news
{
	text-align: center;
	color: darkred;
}

hr {
	border: none;
	width: 50%;
	height: 1px;
	background-color: #ddd;
}

a, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #bd6a14;
}

a:hover {
	text-decoration: underline;
}

.buttons
{
	margin: 0 auto;
	display: inline-block;
	width: 100%;
	text-align: center;
}

img.thumb
{
	height: 40pt;
	margin-bottom: 0.4em;
	border: 1px solid #ccc;
}

.button
{
	display: inline-block;
	min-width: 6.5em;
	padding: 1em;
	margin: 0.5em;
	background-color: #eee;
}

code {
	background-color: #eee;
	padding: 2px 5px;}

pre.example
{
	margin: 0;
	overflow-x: scroll;
	background-color: #eee;
	padding: 1.5em 8%;
}

li {font-size: 0.8em;}

p#logos
{
	margin: 2em 0 0 0 !important;
	width: 100%;
	background-color: #57d1f9;
	text-align: center;
	padding: 1.5em 0;
}

p#logos a
{
	display: inline-block;
	background-color: white;
	margin: 1em;
	vertical-align: middle;
	padding: 5px;
	line-height: 80px;
}

p#logos a.noborder
{
	padding: 0;
	line-height: 90px;
}

#logos a img
{
	width: 80px;
	vertical-align: middle;
}

#logos a.noborder img
{
	width: 90px;
}

@media screen  and (max-width: 400pt)
{
	#container p { margin: 5% 1em; }
	
	#tagline { font-size: 0.8em;}
	
	h2, h3, h4
	{
		padding: 0.1em 3%;
	}
	
	pre.example
	{
		padding: 1.5em 3%;
	}
}
